version: '3'
services:
  mobile-web-best-practice: #项目的 service name
    container_name: 'mobile-web-best-practice-container' #容器名称
    image: nginx #指定镜像
    restart: always
    ports:
      - 8001:80
    volumes:
      #~ ./nginx.conf 为宿主机目录, /etc/nginx 为容器目录
      - ./nginx.conf:/etc/nginx/nginx.conf #挂载 nginx 配置
      #~ ./dist 为宿主机 build 后的 dist 目录, /usr/share/nginx/html 为容器目录,
      - ./:/usr/share/nginx/html/ #挂载项目
    privileged: true
